<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item" aria-current="page">Registro de materia</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <div class="form-inline my-2 my-lg-0">
            <input id="busquedaId" class="form-control mr-sm-2" type="search" placeholder="Buscar, ID" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="busquedaMateria()" >Buscar</button>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">Lista</div>
                <div style="height: 400px;overflow: auto;">
                    @foreach (var materia in ViewData["listaMaterias"] as List<Materia>)
                    {
                        <div class="border border-dark rounded p-2 mb-2 d-flex flex-wrap justify-content-between align-items-center">
                            <div>
                                <small>ID: @materia.IdMateria</small><br>
                                <small>Materia: @materia.NombreMateria</small><br>
                                <small>Carrera: @materia.IdNivelNavigation.IdCarreraNavigation.NombreCarrera</small><br>
                                <small>Nivel: @materia.IdNivelNavigation.Nivel1</small><br>
                                <small>Docente: @materia.IdDocenteNavigation.ApellidoUno @materia.IdDocenteNavigation.ApellidoDos @materia.IdDocenteNavigation.NombreUno @materia.IdDocenteNavigation.NombreDos</small><br>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        @if (ViewBag.mensaje == null)
        {
            <form asp-controller="Admin" asp-action="RegistrarMateria" method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title h2">Registro de materia</div>
                        <div class="form-group">
                            <label for="materiaNombre">Nombre de la materia</label>
                            <input id="materiaNombre" name="materiaNombre" class="form-control" type="text" placeholder="... nombre de la materia">
                        </div>
                        <div class="form-group">
                            <label>Carrera</label>
                            <select id="carrera" name="carrera" class="form-control" onchange="cargarCombo();">
                                <optgroup>
                                    <option>-- Seleccione la carrera    --</option>
                                    @foreach (var carrera in ViewData["listaCarreras"] as List<Carrera>)
                                    {
                                        <option value="@carrera.IdCarrera" name="carrreras[]">@carrera.NombreCarrera</option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nivel</label>
                            <select id="nivel" name="nivel" class="form-control">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Docente</label>
                            <select id="docente" name="docente" class="form-control">
                                <option value="0"> -- Seleccione el docente -- </option>
                                @foreach (var docente in ViewData["listaDocentes"] as List<Docente>)
                                    {
                                        <option value="@docente.IdDocente">@docente.ApellidoUno @docente.ApellidoDos @docente.NombreUno @docente.NombreDos</option>
                                    }
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="btnRegistrar" class="btn btn-success form-control" value="Registrar" type="submit">
                        </div>
                        <div class="form-group">
                            <input id="btnCancelar" class="btn btn-info form-control d-none" value="Cancelar" type="button">
                        </div>
                        <div class="form-group">
                            <input id="btnModificar" class="btn btn-warning form-control d-none" value="Modificar" type="submit">
                        </div>
                    </div>
                </div>
            </form>
            
        }
        else
        {
            <div class="alert alert-info">
                <div class="d-flex justify-content-between">
                    <strong>@ViewBag.mensaje</strong> <a class="btn btn-outline-info" asp-controller="Admin" asp-action="RegistrarMateria">Listo</a> 
                </div>
            </div>
        }
    </div>
</div>

<script>
    var materiaNombre = document.getElementById('materiaNombre')
    var carrera = document.getElementById('carrera')
    var docenteCombo = document.getElementById('docente')

    function cargarCombo(IdCarrera){
        var carrera = document.getElementById('carrera')
        var select = document.getElementById('nivel')
        select.options.length = 0

        var niveles = fetch(`https://localhost:5001/api/Carrera/Nivel/${carrera.value}`)
            niveles
                    .then(function(resp){
                        return resp.json()
                    })
                    .then(function(nivel){
                        Array.from(nivel).forEach(function(nv){
                            var option = document.createElement('option')
                            option.setAttribute('name','niveles[]')
                            option.text = nv.nivel1
                            option.value = nv.idNivel
                            select.add(option)
                        })
                    })
    }
    function busquedaMateria(){
        var busquedaId = document.getElementById('busquedaId')
        var materia = fetch(`https://localhost:5001/api/Materia/ID/${busquedaId.value}`)
            materia
                    .then(function(resp){
                        return resp.json()
                    })
                    .then(function(materia){
                        console.log(materia)
                        var docente = busquedaDocenteId(materia.idDocente)
                        var nivel = busquedaNivelId(materia.idNivel)
                        materiaNombre.value = materia.nombreMateria
                        nivel.then(n=>{
                            for(let i = 0; i < carrera.options.length; i++){
                                if(carrera.options[i].value == n.idCarrera){
                                    carrera.options.selectedIndex = carrera.options[i].index
                                }
                            }
                            cargarCombo(n.idCarrera)
                            setTimeout(()=>{
                                var nivelCombo = document.getElementById('nivel')
                                for(let i = 0; i < nivelCombo.options.length; i++){
                                    if(nivelCombo.options[i].value == materia.idNivel){
                                        nivelCombo.options.selectedIndex = nivelCombo.options[i].index
                                    }
                                }
                                for(let i = 0; i < docenteCombo.options.length; i++){
                                    if(docenteCombo.options[i].value == materia.idDocente){
                                        docenteCombo.options.selectedIndex = docenteCombo.options[i].index
                                    }
                                }
                            },100)
                            var btnCancelar = document.getElementById('btnCancelar')
                            var btnModificar = document.getElementById('btnModificar')
                            var btnRegistrar = document.getElementById('btnRegistrar')
                            btnCancelar.addEventListener('click',()=>{
                                limpiarCampos()
                                btnRegistrar.classList.remove('d-none')    
                                btnCancelar.classList.add('d-none')
                                btnModificar.classList.add('d-none')
                            })
                            btnCancelar.classList.remove('d-none')
                            btnModificar.classList.remove('d-none')
                            btnRegistrar.classList.add('d-none')

                        })
                    })
                    .catch(function(e){
                        console.error('No pudimos hacer la peticion',e)
                    })
    }
    function busquedaDocenteId(idDocente){
        return docente = fetch(`https://localhost:5001/api/Docente/id/${idDocente}`)
                    .then(function(resp){
                        return resp.json()
                    })
                    .then(function(docente){
                        return docente
                    })
                    .catch(function(e){
                        console.error('No pudimos hacer la peticion')
                    })
    }
    function busquedaNivelId(idNivel){
        return nivel = fetch(`https://localhost:5001/api/Materia/Nivel/ID/${idNivel}`)
                    .then(function(resp){
                        return resp.json()
                    })
                    .then(function(nivel){
                        return nivel
                    })
                    .catch(function(e){
                        console.error('No pudimos hacer la peticion')
                    })
    }

    function limpiarCampos(){
        materiaNombre.value = ""
        docenteCombo.options.selectedIndex = 0
        carrera.options.selectedIndex = 0
        var nivelCombo = document.getElementById('nivel')
        nivelCombo.options.length = 0
        var busquedaId = document.getElementById('busquedaId')
        busquedaId.value = ""
        busquedaId.focus()
    }

</script>