<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item" aria-current="page">Registro de materia</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar, Codigo" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> -->
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">Lista</div>
                <div style="height: 400px;overflow: auto;">
                    @foreach (var materia in ViewData["listaMaterias"] as List<Materia>)
                    {
                        <div class="border border-dark rounded p-2 mb-2 d-flex flex-wrap justify-content-between align-items-center">
                            <div>
                                <small>ID: @materia.IdMateria</small><br>
                                <small>Materia: @materia.NombreMateria</small><br>
                                <small>Nivel: @materia.IdNivelNavigation.Nivel1</small><br>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        @if (ViewBag.mensaje == null)
        {
            <form asp-controller="Admin" asp-action="RegistrarMateria" method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title h2">Registro de materia</div>
                        <div class="form-group">
                            <label for="materiaNombre">Nombre de la materia</label>
                            <input id="materiaNombre" name="materiaNombre" class="form-control" type="text" placeholder="... nombre de la materia">
                        </div>
                        <div class="form-group">
                            <label>Carrera</label>
                            <select id="carrera" name="carrera" class="form-control" onchange="cargarCombo();">
                                <optgroup>
                                    <option>-- Seleccione la carrera    --</option>
                                    @foreach (var carrera in ViewData["listaCarreras"] as List<Carrera>)
                                    {
                                        <option value="@carrera.IdCarrera" >@carrera.NombreCarrera</option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nivel</label>
                            <select id="nivel" name="nivel" class="form-control">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Docente</label>
                            <select id="docente" name="docente" class="form-control">
                                @foreach (var docente in ViewData["listaDocentes"] as List<Docente>)
                                    {
                                        <option value="@docente.IdDocente">@docente.ApellidoUno @docente.ApellidoDos @docente.NombreUno</option>
                                    }
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-success form-control" value="Registrar" type="submit">
                        </div>
                    </div>
                </div>
            </form>
            
        }
        else
        {
            <div class="alert alert-info">
                <div class="d-flex justify-content-between">
                    <strong>@ViewBag.mensaje</strong> <a class="btn btn-outline-info" asp-controller="Admin" asp-action="RegistrarMateria">Listo</a> 
                </div>
            </div>
        }
    </div>
</div>

<script>

    function cargarCombo(IdCarrera){
        var carrera = document.getElementById('carrera')
        var select = document.getElementById('nivel')
        select.options.length = 0

        var niveles = fetch(`https://localhost:5001/api/Carrera/Nivel/${carrera.value}`)
            niveles
                    .then(function(resp){
                        return resp.json()
                    })
                    .then(function(nivel){
                        Array.from(nivel).forEach(function(nv){
                            var option = document.createElement('option')
                            console.log(nv)
                            option.text = nv.nivel1
                            option.value = nv.idNivel
                            select.add(option)
                        })
                    })
    }
</script>