<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item" aria-current="page">Registro de estudiantes</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">Lista</div>
                <div style="height: 400px;overflow: auto;">
                    @foreach (var estudiante in ViewData["listaEstudiantes"] as List<EstudianteFull>)
                    {
                        <div class="border border-dark rounded p-2 mb-2 d-flex flex-wrap justify-content-between align-items-center">
                            <div>
                                <small><strong>@estudiante.ApellidoUno.ToUpper() @estudiante.ApellidoDos.ToUpper() @estudiante.NombreUno.ToUpper() @estudiante.NombreDos.ToUpper()</strong></small><br>
                                <small>Cedula: @estudiante.CedulaEstudiante</small><br>
                                <small>Nivel: @estudiante.nivel.Nivel1</small><br>
                                <small>Carrera: @estudiante.nivel.IdCarreraNavigation.NombreCarrera.ToUpper()</small><br>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        @if(ViewBag.mensaje == null)
        {
            <form asp-controller="Admin" asp-action="RegistrarEstudiante" method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title h2">Registro de Estudiante</div>
                        <div class="form-group">
                            <label for="cedula">Cedula</label>
                            <input id="cedula" name="cedula" onkeyup="busquedaFast()" class="form-control" type="text" placeholder="C.I">
                        </div>
                        <div class="form-group">
                            <label>Nombres</label>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="primerNombre" name="primerNombre" type="text" placeholder="Primer nombre">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="segundoNombre" name="segundoNombre" type="text" placeholder="Segundo nombre">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="primerApellido" name="primerApellido" type="text" placeholder="Primer apellido">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="segundoApellido" name="segundoApellido" type="text" placeholder="Segundo apellido">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Carrera</label>
                            <select id="carrera" name="carrera" class="form-control" onchange="cargarCombo();">
                                <optgroup>
                                    <option>-- Seleccione la carrera    --</option>
                                    @foreach (var carrera in ViewData["listaCarreras"] as List<Carrera>)
                                    {
                                        <option value="@carrera.IdCarrera" name="carreras[]">@carrera.NombreCarrera</option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nivel</label>
                            <select id="nivel" name="nivel" class="form-control">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="btnRegistrar" class="btn btn-success form-control" value="Registrar" type="submit">
                        </div>
                        <div class="form-group">
                            <input id="btnCancelar" class="btn btn-info form-control d-none" value="Cancelar" type="button">
                        </div>
                        <div class="form-group">
                            <input id="btnModificar" class="btn btn-warning form-control d-none" value="Modificar" type="submit">
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
             <div class="alert alert-info">
                <div class="d-flex justify-content-between">
                    <strong>@ViewBag.mensaje</strong> <a class="btn btn-outline-info" asp-controller="Admin" asp-action="RegistrarEstudiante">Listo</a> 
                </div>
            </div>

        }
    </div>
</div>

<script>
    var primerNombre = document.getElementById('primerNombre')
    var segundoNombre = document.getElementById('segundoNombre')
    var primerApellido = document.getElementById('primerApellido')
    var segundoApellido = document.getElementById('segundoApellido')
    var btnRegistrar = document.getElementById('btnRegistrar')
    var btnCancelar = document.getElementById('btnCancelar')
    var btnModificar = document.getElementById('btnModificar')
    var carrera = document.getElementById('carrera')

    btnCancelar.addEventListener('click',function(){
        primerNombre.value = ""
        segundoNombre.value = ""
        primerApellido.value = ""
        segundoApellido.value = ""
        carrera.options.selectedIndex = 0
        nivel.options.length = 0
        btnRegistrar.classList.remove('d-none')
        btnCancelar.classList.add('d-none')
        btnModificar.classList.add('d-none')
    })

    function cargarCombo(IdCarrera){
        var carrera = document.getElementById('carrera')
        var select = document.getElementById('nivel')
        select.options.length = 0

        var niveles = fetch(`https://localhost:5001/api/Carrera/Nivel/${carrera.value}`)
            niveles
                    .then(function(resp){
                        return resp.json()
                    })
                    .then(function(nivel){
                        Array.from(nivel).forEach(function(nv){
                            var option = document.createElement('option')
                            option.setAttribute('name','niveles[]')
                            option.text = nv.nivel1
                            option.value = nv.idNivel
                            select.add(option)
                        })
                    })
    }

    function busquedaFast(){
        var cedula = document.getElementById('cedula')
        var data = fetch(`https://localhost:5001/api/Estudiante/cedula/${cedula.value}`)
                    .then(function(resp){
                        return resp.json();
                    })
                    .then(function(estudiante){
                        console.log(estudiante)
                        primerNombre.value = estudiante.nombreUno.trim()
                        segundoNombre.value = estudiante.nombreDos.trim()
                        primerApellido.value = estudiante.apellidoUno.trim()
                        segundoApellido.value = estudiante.apellidoDos.trim()
                        for(let i = 0; i < carrera.options.length; i++){
                            if(carrera.options[i].value == estudiante.idCarrera){
                                carrera.options.selectedIndex = carrera.options[i].index
                            }
                        }
                        cargarCombo(carrera.value)
                        setTimeout(()=>{
                            var nivel = document.getElementById('nivel')
                            for(let i = 0; i < nivel.options.length; i++){
                            if(nivel.options[i].value == estudiante.idNivel){
                                nivel.options.selectedIndex = nivel.options[i].index
                            }
                        }
                        },100)
                        btnRegistrar.classList.add('d-none')
                        btnCancelar.classList.remove('d-none')
                        btnModificar.classList.remove('d-none')
                    })
                    .catch(function(e){
                        console.error('ERROR::'+e)
                        primerNombre.value = ""
                        segundoNombre.value = ""
                        primerApellido.value = ""
                        segundoApellido.value = ""
                        carrera.options.selectedIndex = 0
                        nivel.options.length = 0
                        btnRegistrar.classList.remove('d-none')
                        btnCancelar.classList.add('d-none')
                        btnModificar.classList.add('d-none')
                    })
    }

</script>