@{
    Layout = "_Docente";
    Materia materia = ViewBag.materia;
}
<div class="page-dashboard pt-3">
    <div class="alert alert-success" role="alert">
        <a href="/Docente/Index" class="alert-link">Docente</a><strong class="pr-1 pl-2">></strong>
        <a href="/Docente/Notas" class="alert-link">Notas</a><strong class="pr-1 pl-2">></strong>
        <a href="/Notas/Index" class="alert-link">Curso: @materia.NombreMateria</a><strong class="pr-1 pl-2">></strong>
    </div>
    
    <div class="page-content pt-4">
        <p class="h2">Ingreso de notas</p>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-group">
                    <div class="text-uppercase">
                         @materia.NombreMateria
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 justify-content-start m-0">
            <table>
                <thead>
                    <th class="bg-info text-white celda-head">Estudiante</th>
                    <th class="bg-info text-white celda-head">C.I</th>
                    <th class="bg-info text-white celda-head">Nota Deberes</th>
                    <th class="bg-info text-white celda-head">Nota Foros</th>
                    <th class="bg-info text-white celda-head">Nota Pruebas</th>
                    <th class="bg-info text-white celda-head">Nota Proyecto</th>
                    <th class="bg-info text-white celda-head">Accion</th>
                </thead>
                <tbody>
                    @foreach (Reporte reporte in ViewBag.lista as List<Reporte>)
                    {
                        <form asp-controller="Notas" asp-asp-action="Index" method="POST">
                            <tr class="sniff-row" onmouseover="hover(event)">
                                <td class="celda">@reporte.IdEstudianteNavigation.NombreUno @reporte.IdEstudianteNavigation.NombreDos @reporte.IdEstudianteNavigation.ApellidoUno @reporte.IdEstudianteNavigation.ApellidoDos</td>
                                <td class="celda">@reporte.IdEstudianteNavigation.CedulaEstudiante</td>
                                <td class="celda">
                                    <input type="hidden" name="cedulaReporte" value="@reporte.IdEstudianteNavigation.CedulaEstudiante">
                                    <input type="hidden" name="idReporte" value="@reporte.IdReporte">
                                    <input name="notaDeberes" class="input-notas text-center" type="text" value="@reporte.NotaDeberes.ToString().Replace(',','.')">
                                </td>
                                <td class="celda">
                                    <input name="notaNotaForos" class="input-notas text-center" type="text" value="@reporte.NotaForos.ToString().Replace(',','.')">
                                </td>
                                <td class="celda">
                                    <input name="notaNotaPrueba" class="input-notas text-center" type="text" value="@reporte.NotaPrueba.ToString().Replace(',','.')">
                                </td>
                                <td class="celda">
                                    <input name="notaNotaProyecto" class="input-notas text-center" type="text" value="@reporte.NotaProyecto.ToString().Replace(',','.')">
                                </td>
                                <td class="celda">
                                    <input class="btn btn-primary " type="submit" value="Guardar">
                                </td>
                            </tr>

                        </form>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>