@{
    Layout = "_Docente";
    var promedio = 0;
}
<div class="page-dashboard pt-3">
    <div class="alert alert-success" role="alert">
        <a class="alert-link">Docente</a><strong class="pr-1 pl-2">></strong>
        <a href="/Docente/Index" class="alert-link">Cursos</a><strong class="pr-1 pl-2">></strong>
        <a class="alert-link">Nombre del curso</a><strong class="pr-1 pl-2">></strong>
    </div>
    
    <div class="page-content pt-4">
        <div class="row justify-content-start">
            <div class="col-6">
                <strong>Nombre del curso: </strong><label class="text-uppercase">@ViewBag.NombreMateria</label>
            </div>
        </div>
        <!-- <div class="row justify-content-center mt-3">
            <div class="col-5">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action text-white bg-warning" style="cursor: auto;">
                        Pendientes
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Revisar tarea: Programacion Visual II</a>
                    <a href="#" class="list-group-item list-group-item-action">Revisar tarea: Matematica financiera</a>
                </div>
            </div>
            <div class="col-5">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action text-white bg-primary" style="cursor: auto;">
                        Activas
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Revisar tarea: Programacion Visual II</a>
                    <a href="#" class="list-group-item list-group-item-action">Revisar tarea: Matematica financiera</a>
                </div>
            </div>
        </div> -->
        <div class="row mt-3 justify-content-center">
            <div class="col-10">
                <table>
                    <thead>
                        <th class="bg-info text-white celda-head">Estudiante</th>
                    <th class="bg-info text-white celda-head">C.I</th>
                    <th class="bg-info text-white celda-head">Nota Deberes</th>
                    <th class="bg-info text-white celda-head">Nota Foros</th>
                    <th class="bg-info text-white celda-head">Nota Pruebas</th>
                    <th class="bg-info text-white celda-head">Nota Proyecto</th>
                    <th class="bg-info text-white celda-head">Promedio</th>
                        <th class="bg-info text-white celda-head">Observacion</th>
                    </thead>
                    <tbody>
                        @foreach (var reporte in ViewBag.ListaEstudiantes as List<Reporte>)
                        {
                            <tr class="sniff-row" onmouseover="hover(event)">
                                <td class="celda">@reporte.IdEstudianteNavigation.ApellidoUno @reporte.IdEstudianteNavigation.ApellidoDos @reporte.IdEstudianteNavigation.NombreUno @reporte.IdEstudianteNavigation.NombreDos</td>
                                <td class="celda">@reporte.IdEstudianteNavigation.CedulaEstudiante</td>
                                <td class="celda">
                                    <label>@reporte.NotaDeberes</label>
                                </td>
                                <td class="celda">
                                    <label>@reporte.NotaForos</label>
                                </td>
                                <td class="celda">
                                    <label>@reporte.NotaPrueba</label>
                                </td>
                                <td class="celda">
                                    <label>@reporte.NotaProyecto</label>
                                </td>
                                <td class="celda">
                                    <label>@string.Format("{0:00.##}",@Convert.ToDouble(@Convert.ToDouble(@reporte.NotaDeberes + @reporte.NotaForos + @reporte.NotaPrueba + @reporte.NotaProyecto)/4))</label>
                                </td>
                                @if(@Convert.ToDouble(@Convert.ToDouble(@reporte.NotaDeberes + @reporte.NotaForos + @reporte.NotaPrueba + @reporte.NotaProyecto)/4) > 7)
                                {
                                    <td class="celda">
                                        <label>Aprobado</label>
                                    </td>
                                }else
                                {
                                    <td class="celda">
                                        <label>Reprobado</label>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>